body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#Step2AGroup .actions {
    padding:10px;
    margin:10px 0;
    position: relative;
    display: block;
    clear:both;
}
#Step2AGroup button.submit{
    display: block;
    position: relative;
    font-size: 20px;
}

ul.h-menu {
    clear:both;
    display: block;
    position: relative;
    padding:5px;

}

ul.h-menu li {
    display:block;
    float:left;
    position: relative;
    padding: 10px;
    margin-right: 20px;
    background-color:#CCC;

}

.step-menu {
    float:left;
    width:100%;
    clear:left;
}

.step-menu ul {
    list-style: none;
    padding: 0;
    width: 50%;
    float: left;
}

.step-menu ul li {

    /* padding: 10px;
    background-color:#54b9e4;
    color:#FFF;
    margin: 10px; */
}

.step-menu ul li.selected {
    background-color: #acd8eb;
    color:#172157;
}

.step-items {
    float:left;
    width:50%;
    font-size: 20px;
}

.step-items .equations, .step-items .actions {
    display:block;;
    position:relative;
}

.step-items .equations {
    overflow: auto;
}
.step-items .actions {
    margin:10px 0;
    font-size:18px;
}

.step-items .actions button {
    font-size:18px;
    padding:5px 10px;
    background-color: #66b67a;
    color:#FFF;
}
